<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right text-right vertical">
                    <a class="" target="_blank" href="http://thumbprint.is/">
                        <img class="thumbprint" style="float:right; " src="//www.four51.com/Themes/Custom/2784c973-9329-4141-b13b-f5bf45acd436/demoCompanyResources/images/thumbicon.png"><br>
                    </a>
                    <p class="text-muted" style="clear:right;">
                        <span style="color:#000000">thumb<b>print</b><br></span>
                        Common problems. Unique solutions.<br>
                        &copy; Copyright 2015 thumbprint
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>