<footer class="container copyright-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right text-right vertical">
                    <a class="" target="_blank" href="http://thumbprint.is/">
                        <img class="thumbprint" style="float:right; " src="//thumbprint.is/images/thumbicon.png"><br>
                    </a>
                    <p class="text-muted" style="clear:right;">
                        <span style="color:#000000">thumb<b>print</b><br></span>
                        Common problems. Unique solutions.<br>
                        &copy; Copyright {{year}} thumbprint
                    </p>
                    <span ng-if="!(user.Permissions.contains('HideTerms'))">
                    <a class="btn btn-default btn-sm" href="conditions">
                        {{'Conditions of Use' | xlat}}
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
</footer>